<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deanu.githubuser">

    <application>
        <activity
            android:name=".HiltTestActivity"
            android:exported="false"
            android:theme="@style/Theme.GitHubUser" />
    </application>
</manifest>